<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>{{title}} – {{site.title}}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta name="robots" content="all" />
	<meta name="Copyright" content="Copyright (c) 2001-{{site.year}} {{site.author}}" />
	<meta name="author" content="{{site.author}}" />
	<meta name="ICBM" content="45.70555, -121.5202" />
	<meta name="keywords" content="dane petersen web design portfolio standards xhtml css oregon minnesota bend hood river duluth" />
	<meta name="description" content="Dane Petersen is a churlish imp who fancies himself an adventurer and writer, designer and developer." />

	<link rel="stylesheet" type="text/css" media="screen, projection" href="/{{site.cssFolder}}/blueprint/screen.css" />

	<!--[if IE]><![if gt IE 6]><![endif]--><link rel="stylesheet" type="text/css" media="screen, projection" href="/{{site.cssFolder}}/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/{{site.cssFolder}}/color.css" />
	<link rel="stylesheet" type="text/css" media="print" href="/{{site.cssFolder}}/blueprint/print.css" /><!--[if IE]><![endif]><![endif]-->
	<!--[if IE]><link rel="stylesheet" type="text/css" media="print" href="/{{site.cssFolder}}/blueprint/ie.css" /><![endif]-->

</head>

<body class="{{slug}}">

	<!--[if lt IE 7]><div class="container"><div class="fuckyouie" style="color: #c00;">
		<p>Yikes! It appears you are visiting Brainside Out in Microsoft Internet Explorer 6 or lower, which does not display the design of this website. All of the content is here, but it's damn ugly, eh? For a more pleasant experience, I recommend you use a web browser that was built within the last seven years. <a href="http://mozilla.com/firefox">Firefox</a> is a fine choice, or hell even <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> will do. Why did I do this? Because I'm an ass, of course!</p>
	</div></div><![endif]-->
	
<div class="navigation">
	<div class="container">
		<ul>
			<li><a href="/" class="home">Home</a></li>
			<li><a href="/about/" class="about">About</a></li>
			<li><a href="/portfolio/" class="portfolio">Portfolio</a></li>
			<li><a href="/skills/" class="skills">Skills</a></li>
			<li><a href="/contact/" class="contact">Contact</a></li>
		</ul>
	</div>
</div>

{{{contents}}}

<div class="footer">
	<div class="container">
		<p>Copyright &copy; 2001-{{site.year}} Dane Petersen &amp; Brainside Out, LLC. All rights reserved.</p>
		<p>This website is built with code and is hosted near a major tectonic fault.<br /><a href="/colophon/">There's a colophon</a> if you're interested.</p>
	</div>
</div>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-321702-15');ga('send','pageview');
</script>

</body>
</html>
